<?xml version="1.0"?>

<PagetittleSection>

  <add key="Index_Home_PathLog" value=""/>
  <add key="Index_ChangeLog_PathLog" value=""/>
  <add key="Index_Help_PathLog" value=""/>

  <add key="Menu_List_PathLog" value="Menu_Add_Tittle_PageTittle,Add,Menu,btn-success,null" />
  <add key="Menu_Add_PathLog" value="Menu_List_Tittle_PageTittle,List,Menu,btn-info,null" />
  <add key="Menu_Edit_PathLog" value="Menu_List_Tittle_PageTittle,List,Menu,btn-info,null;Menu_Add_Tittle_PageTittle,Add,Menu,btn-success,null" />
  <add key="Menu_Detail_PathLog" value="Menu_List_Tittle_PageTittle,List,Menu,btn-info,null;Menu_Add_Tittle_PageTittle,Add,Menu,btn-success,null;Menu_Edit_Tittle_PageTittle,Edit,Menu,btn-warning,ID" />

  <add key="DynamicPage_PostList_PathLog" value="DynamicPage_PostCreate_Tittle_PageTittle,PostCreate,DynamicPage,btn-success,null" />
  <add key="DynamicPage_PostCreate_PathLog" value="DynamicPage_PostList_Tittle_PageTittle,PostList,DynamicPage,btn-info,null" />
  <add key="DynamicPage_PostEdit_PathLog" value="DynamicPage_PostList_Tittle_PageTittle,PostList,DynamicPage,btn-info,null;DynamicPage_PostCreate_Tittle_PageTittle,PostCreate,DynamicPage,btn-success,null" />
  <add key="DynamicPage_PostDetail_PathLog" value="DynamicPage_PostList_Tittle_PageTittle,PostList,DynamicPage,btn-info,null;DynamicPage_PostCreate_Tittle_PageTittle,PostCreate,DynamicPage,btn-success,null;DynamicPage_PostEdit_Tittle_PageTittle,PostEdit,DynamicPage,btn-warning,ID" />

  <add key="Comments_DynamicPageComments_PathLog" value="" />

  <add key="ListSlide_Slider_PathLog" value="" />
  <add key="EditSlide_Slider_PathLog" value="" />

  <add key="ListMainLinks_Links_PathLog" value="" />
  <add key="EditMainLink_Links_PathLog" value="" />

  <add key="ListFooterLinks_Links_PathLog" value="" />
  <add key="EditFooterLink_Links_PathLog" value="" />

  <add key="EditScripts_Script_PathLog" value="" />

  <add key="AddPhoto_Gallery_PathLog" value="" />
  <add key="ListPhoto_Gallery_PathLog" value="" />
  <add key="EditPhoto_Gallery_PathLog" value="" />
  <add key="AddFolder_Gallery_PathLog" value="" />
  <add key="ManageFolder_Gallery_PathLog" value="" />
  <add key="EditFolder_Gallery_PathLog" value="" />

  <add key="ListPollQuestion_Poll_PathLog" value="AddPollQuestion_Poll_Tittle_PageTittle,AddPollQuestion,Poll,btn-success,null" />
  <add key="AddPollQuestion_Poll_PathLog" value="ListPollQuestion_Poll_Tittle_PageTittle,ListPollQuestion,Poll,btn-info,null" />
  <add key="EditPollQuestion_Poll_PathLog" value="ListPollQuestion_Poll_Tittle_PageTittle,ListPollQuestion,Poll,btn-info,null;AddPollQuestion_Poll_Tittle_PageTittle,AddPollQuestion,Poll,btn-success,null" />
  <add key="DetailPollQuestion_Poll_PathLog" value="ListPollQuestion_Poll_Tittle_PageTittle,ListPollQuestion,Poll,btn-info,null;AddPollQuestion_Poll_Tittle_PageTittle,AddPollQuestion,Poll,btn-success,null;EditPollQuestion_Poll_Tittle_PageTittle,EditPollQuestion,Poll,btn-warning,ID" />

  <add key="TelegramManagementPannel_Telegram_PathLog" value="" />

  <add key="EditContact_Contact_PathLog" value="" />


  <add key="StaticPage_PageList_PathLog" value="" />
  <add key="StaticPage_PageDetail_PathLog" value="StaticPage_PageList_Tittle_PageTittle,PageList,StaticPage,btn-success,null" />

  <add key="Item_ListItem_PathLog" value="" />

  <add key="Category_List_PathLog" value="Category_Add_Tittle_PageTittle,Add,Category,btn-success,null" />
  <add key="Category_Add_PathLog" value="Category_List_Tittle_PageTittle,List,Category,btn-info,null" />
  <add key="Category_Edit_PathLog" value="Category_List_Tittle_PageTittle,List,Category,btn-info,null;Category_Add_Tittle_PageTittle,Add,Category,btn-success,null" />
  <add key="Category_Detail_PathLog" value="Category_List_Tittle_PageTittle,List,Category,btn-info,null;Category_Add_Tittle_PageTittle,Add,Category,btn-success,null;Category_Edit_Tittle_PageTittle,Edit,Category,btn-warning,ID" />

  <add key="AttributeGroupe_List_PathLog" value="AttributeGroupe_Add_Tittle_PageTittle,Add,AttributeGroupe,btn-success,ID" />
  <add key="AttributeGroupe_Add_PathLog" value="AttributeGroupe_List_Tittle_PageTittle,List,AttributeGroupe,btn-info,ID" />
  <add key="AttributeGroupe_Edit_PathLog" value="AttributeGroupe_List_Tittle_PageTittle,List,AttributeGroupe,btn-info,ID;AttributeGroupe_Add_Tittle_PageTittle,Add,AttributeGroupe,btn-success,ID" />
  <add key="AttributeGroupe_Detail_PathLog" value="AttributeGroupe_List_Tittle_PageTittle,List,AttributeGroupe,btn-info,ID;AttributeGroupe_Add_Tittle_PageTittle,Add,AttributeGroupe,btn-success,ID;AttributeGroupe_Edit_Tittle_PageTittle,Edit,AttributeGroupe,btn-warning,ID" />

  <add key="Attribute_List_PathLog" value="Attribute_Add_Tittle_PageTittle,Add,Attribute,btn-success,ID" />
  <add key="Attribute_ListAttributeItemAttributes_PathLog" value="Attribute_Add_Tittle_PageTittle,Add,Attribute,btn-success,ID-F_AttributeItemID" />
  <add key="Attribute_Add_PathLog" value="Attribute_List_Tittle_PageTittle,List,Attribute,btn-info,ID" />
  <add key="Attribute_Edit_PathLog" value="Attribute_List_Tittle_PageTittle,List,Attribute,btn-info,ID;Attribute_Add_Tittle_PageTittle,Add,Attribute,btn-success,ID" />
  <add key="Attribute_Detail_PathLog" value="Attribute_List_Tittle_PageTittle,List,Attribute,btn-info,ID;Attribute_Add_Tittle_PageTittle,Add,Attribute,btn-success,ID;Attribute_Edit_Tittle_PageTittle,Edit,Attribute,btn-warning,ID" />

  <add key="AttributeItem_List_PathLog" value="AttributeItem_Add_Tittle_PageTittle,Add,AttributeItem,btn-success,ID-F_AttributeGroupID" />
  <add key="AttributeItem_Add_PathLog" value="AttributeItem_List_Tittle_PageTittle,List,AttributeItem,btn-info,ID-F_AttributeGroupID" />
  <add key="AttributeItem_Edit_PathLog" value="AttributeItem_List_Tittle_PageTittle,List,AttributeItem,btn-info,ID-F_AttributeGroupID;AttributeItem_Add_Tittle_PageTittle,Add,AttributeItem,btn-success,ID-F_AttributeGroupID" />
  <add key="AttributeItem_Detail_PathLog" value="AttributeItem_List_Tittle_PageTittle,List,AttributeItem,btn-info-ID,F_AttributeGroupID;AttributeItem_Add_Tittle_PageTittle,Add,AttributeItem,btn-success,ID-F_AttributeGroupID;AttributeItem_Edit_Tittle_PageTittle,Edit,AttributeItem,btn-warning,ID-F_AttributeGroupID" />

  <add key="Account_List_PathLog" value="" />
  <add key="Account_Detail_PathLog" value="Account_List_Tittle_PageTittle,ListUser,Account,btn-info,null" />
  <add key="Account_Edit_PathLog" value="Account_List_Tittle_PageTittle,ListUser,Account,btn-info,null;Account_Detail_Tittle_PageTittle,DetailUser,Account,btn-warning,ID" />

  <add key="Form_List_PathLog" value="Form_Add_Tittle_PageTittle,Add,FormBuilder,btn-success,null" />
  <add key="Form_Add_PathLog" value="Form_List_Tittle_PageTittle,List,FormBuilder,btn-info,null" />
  <add key="Form_Edit_PathLog" value="Form_List_Tittle_PageTittle,List,FormBuilder,btn-info,null;Form_Add_Tittle_PageTittle,Add,FormBuilder,btn-success,null" />
  <add key="Form_Detail_PathLog" value="Form_List_Tittle_PageTittle,List,FormBuilder,btn-info,null;Form_Add_Tittle_PageTittle,Add,FormBuilder,btn-success,null;Form_Edit_Tittle_PageTittle,Edit,FormBuilder,btn-warning,ID" />

  <add key="EditPopUp_PopUp_PathLog" value=""/>


  <add key="Manage_ChangePassword_PathLog" value=""/>
  
  <add key="Ticket_TicketManagement_PathLog" value=""/>
  
  <add key="Shekayat_ShekayatManagement_PathLog" value=""/>
  
  <add key="ShoppingCart_List_PathLog" value=""/>
  <add key="ShoppingCart_Edit_PathLog" value="ShoppingCart_List_Tittle_PageTittle,List,ShoppingCart,btn-info,null;" />

  <add key="Roll_List_PathLog" value="Roll_Add_Tittle_PageTittle,Add,Roll,btn-success,ID" />
  <add key="Roll_Add_PathLog" value="Roll_List_Tittle_PageTittle,List,Roll,btn-info,ID" />
  <add key="Roll_ListRollGroup_PathLog" value="Roll_AddRollGroup_Tittle_PageTittle,AddRollGroup,Roll,btn-success,ID" />
  <add key="Roll_AddRollGroup_PathLog" value="Roll_ListRollGroup_Tittle_PageTittle,ListRollGroup,Roll,btn-info,ID" />
  <add key="Roll_ListRollsOfRollGroup_PathLog" value=""/>
  <add key="Roll_AssignRollToRollGroup_PathLog" value=""/>
  <add key="Roll_UsersManagement_PathLog" value=""/>
  <add key="Roll_AssignRollToUser_PathLog" value=""/>
  <add key="Roll_AssignRollGroupToUser_PathLog" value=""/>
  <add key="Roll_ListRollGroupOfUser_PathLog" value=""/>
  <add key="Roll_ListRollOfUser_PathLog" value=""/>
</PagetittleSection>

