<p>@section SliderCSS{</p>

<p>} @section jsForThisPage{ <!-- SWIPER SLIDER --> } <!-- REVOLUTION SLIDER --> @Html.Partial(&quot;IntroSlider&quot;) <!-- /REVOLUTION SLIDER --></p>

<div class="container">
<div class="row">
<div class="col-md-3">
<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
<div class="front">
<div class="box1" style="background-color:#36ac8b;">
<div class="box-icon-title">
<h2>پذیرش و ارزیابی</h2>
</div>

<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
</div>
</div>

<div class="back">
<div class="box2" style="background-color:#a0ce4e;">
<h4>پذیرش و ارزیابی</h4>

<hr /><a class="btn btn-translucid btn-lg btn-block" href="#">مزایا و شرایط عضویت</a> <a class="btn btn-translucid btn-lg btn-block" href="#">انواع پذیرش و استقرار</a> <a class="btn btn-translucid btn-lg btn-block" href="#">ارزیابی واحد های مستقر</a> <a class="btn btn-translucid btn-lg btn-block" href="#">گواهینامه معافیت مالیاتی</a> <a class="btn btn-translucid btn-lg btn-block" href="#">ارزیابی ثبت اختراعات</a> <a class="btn btn-translucid btn-lg btn-block" href="#">فرم ها و دستورالعمل ها</a></div>
</div>
</div>
</div>

<div class="col-md-3">
<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
<div class="front">
<div class="box1" style="background-color:#a0ce4e;">
<div class="box-icon-title">
<h2>پذیرش و ارزیابی</h2>
</div>

<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
</div>
</div>

<div class="back">
<div class="box2" style="background-color:#a0ce4e;">
<h4>پذیرش و ارزیابی</h4>

<hr /><a class="btn btn-translucid btn-lg btn-block" href="#">مزایا و شرایط عضویت</a> <a class="btn btn-translucid btn-lg btn-block" href="#">انواع پذیرش و استقرار</a> <a class="btn btn-translucid btn-lg btn-block" href="#">ارزیابی واحد های مستقر</a> <a class="btn btn-translucid btn-lg btn-block" href="#">گواهینامه معافیت مالیاتی</a> <a class="btn btn-translucid btn-lg btn-block" href="#">ارزیابی ثبت اختراعات</a> <a class="btn btn-translucid btn-lg btn-block" href="#">فرم ها و دستورالعمل ها</a></div>
</div>
</div>
</div>

<div class="col-md-3">
<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
<div class="front">
<div class="box1" style="background-color:#cb9536;">
<div class="box-icon-title">
<h2>تجاری سازی</h2>
</div>

<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
</div>
</div>

<div class="back">
<div class="box2" style="background-color:#cb9536;">
<h4>تجاری سازی</h4>

<hr /><a class="btn btn-translucid btn-lg btn-block" href="#">آموزش و مشاوره</a> <a class="btn btn-translucid btn-lg btn-block" href="#">رونمایی و فن بازار</a> <a class="btn btn-translucid btn-lg btn-block" href="#">نمایشگاه ها و رویدادهای تجاری</a> <a class="btn btn-translucid btn-lg btn-block" href="#">بازاریابی و ارتباط با صنعت</a></div>
</div>
</div>
</div>

<div class="col-md-3">
<div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
<div class="front">
<div class="box1" style="background-color:#73b9dc;">
<div class="box-icon-title">
<h2>سامانه ها</h2>
</div>

<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
</div>
</div>

<div class="back">
<div class="box2" style="background-color:#73b9dc;">
<h4>سامانه ها</h4>

<hr /><a class="btn btn-translucid btn-lg btn-block" href="#">ثبت نام آنلاین مشاورین علمی </a> <a class="btn btn-translucid btn-lg btn-block" href="#"> اتوماسیون مکاتبات اداری </a> <a class="btn btn-translucid btn-lg btn-block" href="#"> سامانه پذیرش آنلاین </a> <a class="btn btn-translucid btn-lg btn-block" href="#"> سامانه پست الکترونیکی </a></div>
</div>
</div>
</div>
</div>
</div>
<!-- Parallax -->

<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

<div class="container">
<div class="text-center">
<h2>Your Business Starts With A Beautiful Website.</h2>
<a class="btn btn-default btn-lg" href="#">VIEW COURSES </a> &nbsp; OR &nbsp; <a class="btn btn-3d btn-blue btn-lg" href="#">TAKE A TOUR </a></div>
</div>
<!-- /Parallax --><!-- Courses -->

<div class="container"><!-- H2 -->
<div class="heading-title">
<h2>Courses</h2>

<p>Lorem ipsum dolor sit amet.</p>
</div>

<div class="row">
<div class="col-sm-4"><img alt="img" class="img-responsive" src="~/Content/assets/images/demo/thematics/education/edu1-min.jpg" />
<h3>Chemical Engineering</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
<a class="btn btn-default" href="#">VIEW COURSE</a></div>

<div class="col-sm-4"><img alt="img" class="img-responsive" src="~/Content/assets/images/demo/thematics/education/edu2-min.jpg" />
<h3>Bachelor of Nursing</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
<a class="btn btn-default" href="#">VIEW COURSE</a></div>

<div class="col-sm-4"><img alt="img" class="img-responsive" src="~/Content/assets/images/demo/thematics/education/edu3-min.jpg" />
<h3>Mental Health</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
<a class="btn btn-default" href="#">VIEW COURSE</a></div>
</div>
</div>
<!-- /Courses --><!-- Testimonials -->

<div class="container">
<div class="owl-carousel text-center owl-testimonial nomargin">
<div class="testimonial">
<p><img alt="" class="rounded" src="~/Content/assets/images/demo/people/300x300/11-min.jpg" /></p>

<div class="testimonial-content nopadding">
<p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero.</p>
<cite>Joana Doe Company Ltd. </cite></div>
</div>

<div class="testimonial">
<p><img alt="" class="rounded" src="~/Content/assets/images/demo/people/300x300/12-min.jpg" /></p>

<div class="testimonial-content nopadding">
<p>Quod necessitatibus quis expedita harum provident eos obcaecati id culpa.</p>
<cite>Melissa Doe Company Ltd. </cite></div>
</div>
</div>
</div>
<!-- /Testimonials --><!-- Overview -->

<div class="container text-center">
<div class="row text-left">
<div class="col-sm-8"><img alt="product image" src="~/Content/assets/images/demo/laptop.png" /></div>

<div class="col-sm-4">
<h3>Quick Overview</h3>

<p>Lorem ipsum dolor sit amet, hinc dolores noluisse at vel, ex quod aperiri scaevola has, cum te sanctus denique. Eu liber docendi petentium has, labore.</p>

<p>Etiam falli mentitum id mel, ut mel sumo postulant referrentur. At has minim imperdiet, soluta offendit ocurreret sea an.</p>

<hr />
<ul>
	<li>Nobis nemore epicuri pro ea</li>
	<li>Qui dicunt singulis dissentias an</li>
	<li>Ea vis diceret constituam</li>
	<li>Mei no autem idque integre, sumo facilis</li>
	<li>Est quodsi labitur moderatius an</li>
</ul>
</div>
</div>
</div>
<!-- /Overview --><!-- Reservation -->

<div class="container">
<h2>COURSE <strong>RESERVATION</strong></h2>

<form action="php/contact.php" method="post">
<div class="row">
<div class="col-md-4"><input name="reservation_name" type="text" /></div>

<div class="col-md-4"><input name="reservation_email" type="email" /></div>

<div class="col-md-4"><input name="reservation_phone" type="text" /></div>
</div>

<div class="row">
<div class="col-md-4"><input name="reservation_date" type="text" /></div>

<div class="col-md-4"><select name="reservation_course"><option selected="selected" value="">Select Course</option><option value="Chemical Engineering">Chemical Engineering</option><option value="Bachelor of Nursing">Bachelor of Nursing</option><option value="Mental Health">Mental Health</option> </select></div>

<div class="col-md-4"><select name="reservation_people"><option value="1">1 Person</option><option selected="selected" value="2">2 People</option><option value="3">3 People</option><option value="4">4 People</option><option value="5">5 People</option><option value="6">6 People</option><option value="7">7 People</option><option value="8">8 People</option><option value="9">9 People</option><option value="10">10 People</option><option value="12">12 People</option><option value="15">15 People</option><option value="20">20 People</option><option value="25">25 People</option><option value="30">30 People</option> </select></div>
</div>
SUBMIT RESERVATION</form>
</div>
<!-- /Reservation -->