@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS_Requested{
    <link href="~/Content/assets/global/plugins/metrojs/metrojs.min.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/maps-amcharts/ammap/ammap.min.css" rel="stylesheet">
}

@section js_Requested
{
    <script src="~/Content/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script>  <!-- Notifications -->
    <script src="~/Content/assets/global/plugins/bootstrap-editable/js/bootstrap-editable.min.js"></script> <!-- Inline Edition X-editable -->
    <script src="~/Content/assets/global/plugins/bootstrap-context-menu/bootstrap-contextmenu.min.js"></script> <!-- Context Menu -->
    <script src="~/Content/assets/global/plugins/multidatepicker/multidatespicker.min.js"></script> <!-- Multi dates Picker -->
    <script src="~/Content/assets/global/js/widgets/todo_list.js"></script>
    <script src="~/Content/assets/global/plugins/metrojs/metrojs.min.js"></script> <!-- Flipping Panel -->
    <script src="~/Content/assets/global/plugins/charts-chartjs/Chart.min.js"></script>  <!-- ChartJS Chart -->
    <script src="~/Content/assets/global/plugins/skycons/skycons.min.js"></script> <!-- Animated Weather Icons -->
    @*<script src="~/Content/assets/global/js/pages/dashboard.js"></script>*@

}
<div class="row">
    <div class="col-xlg-7 col-lg-7">
    </div>
    <div class="col-xlg-3 col-lg-5 col-visitors">
    </div>
    <div class="col-xlg-2 hidden-lg col-clock">
    </div>
</div>
