@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="background-color: #08ebeb;">
    <div style="text-align: center;margin-top: 300px;font-size: 55px;color:#fffdfd;">
        ! ورود غیر مجاز<br />
        شما مجوز ورود به این بخش را ندارید<br />
    </div>
    <div style="text-align: center;margin-top: 30px;">
        <a onclick="history.back()" style="width: 63%; height: 50px;background-color: white;font-size: 20px; padding: 10px 130px;cursor: pointer;">بازگشت به صفحه قبل</a>
    </div>
</body>
</html>
